<!DOCTYPE html>
<html lang ="en">
<head>
	<title>Sinatra App</title>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="css/reset.css" /> 
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<div id="wrap">
		<div id = "title">
			Geonatra
		</div>
		<div id ="coords">
			<b>Latitude: </b><%= @lat %> <br />
			<b>Longitude: </b><%= @lon %> <br />
		</div>
	</div>
</body>
</html>