<!DOCTYPE html>
<html lang ="en">
<head>
	<title>Sinatra App</title>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="css/reset.css" /> 
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
	<div id="wrap">
		<div id = "title">
			Geonatra
		</div>
		<div id ="spinner">
			<h2>You're lost!</h2>
		</div>
	</div>
</body>
</html>